.About{
    margin-top: 220px;
}
.titleAbout{
    
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.2;
}

.colorSpan{
    color: rgb(199, 112, 240);
}

.contentAbout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 40px;
}



.boxtext{
    font-size: 17px;
    width: 100%;
    
}
.boxtext p{
    letter-spacing: 1px;
    word-spacing: 2px;
}

.boxImg{
    display: none;
    
}

.boxImg img{
    width: 100%;
}

@media (min-width:880px) {
    .boxImg{
        display: inline-block;
        width: 500px;
    }
    .boxtext{
        font-size: 25px;
        width: 600px;
    }
}

@media (min-width:660px) {
    .titleAbout{
        font-size: 40px;
    }
}

