.boxAllSkills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
    margin: auto;
}


.oneSkills{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    border-radius: 30px;
    width: fit-content;
    box-shadow: 0px 0px 2px 0px rgb(199, 112, 240);
    transition: 0.5s;
    cursor: default;
}

.oneSkills:hover{
    box-shadow: 0px 0px 3px 1px rgb(199, 112, 240);
}

.boxIcon{
    height: 25px;
}

.boxIcon img{
    height: 100%;
}

.nameSkills{
    font-size: 1.5rem;
}